<div class="row">
  <section id="search" class="small-12 medium-6 columns">
    <%= form_tag(recipes_path, method: :get) do %>
      <p>
        <%= hidden_field_tag(:from, 1) %>
        <%= hidden_field_tag(:to, 10) %>
        <%= label_tag(:search, "What are you hungry for?") %>
        <%= text_field_tag(:search, value = nil, options = { placeholder: "What are you hungry for?", class: "search-field" }) %>
        <%= submit_tag 'Search' %>
      </p>
    <% end %>
  </section>
</div>
