<h2>Here's some recipes for (search term)</h2>

<section id="list-recipe-results">
  <% @recipes.each do | recipe | %>
    <section class="recipe-block">
      <%= image_tag recipe.image %>
      <%= link_to recipe.name, recipe_path(:name => recipe.name, :uri => recipe.uri) %>
      <p> source: <%= recipe.recipe_source %></p>
      <ul>
      <% recipe.health_labels.each do | healthlabel |  %>
        <li><%= healthlabel %></li>
      <% end %>
      </ul>
      <ul>
      <% recipe.ingredient_lines.each do | ingredient | %>
        <li><%= ingredient %></li>
      <% end %>
      </ul>
    </section>
  <% end %>
</section>
