<section id="page-header">
<h2><%= @recipe.name %></h2>
</section>

<section id="recipe-details">
  <%= image_tag @recipe.image %>

  <p><%= link_to @recipe.recipe_source, @recipe.url %></p>
  <ul>
  <% @recipe.health_labels.each do | healthlabel |  %>
    <li><%= healthlabel %></li>
  <% end %>
  </ul>
  <ul>
  <% @recipe.ingredient_lines.each do | ingredient | %>
    <li><%= ingredient %></li>
  <% end %>
  </ul>
</section>
