<h2><%= @recipe.name %></h2>

<section id="recipe-details">
  <%= image_tag @recipe.image %>

  <p> source: <%= @recipe.recipe_source %></p>
  <ul>
  <% @recipe.health_labels.each do | healthlabel |  %>
    <li><%= healthlabel %></li>
  <% end %>
  </ul>
  <ul>
  <% @recipe.ingredient_lines.each do | ingredient | %>
    <li><%= ingredient %></li>
  <% end %>
  </ul>
</section>
