<section id="recipe-details">
  <div id="recipe-title">
    <h2><%= @recipe.name %></h2>
    <div class="row">
      <p class="float-left">By <%= @recipe.recipe_source %></p>
      <p class="float-right"><%= @recipe.servings %> Servings</p>
    </div>
  </div>
  <div id="recipe-info" class="row">
    <section class="small-12 medium-4 columns">
        <%= image_tag @recipe.image %>
        <p><%= link_to "VIEW RECIPE", @recipe.url, :class => "button" %></p>
    </section>

    <section class="small-12 medium-8 columns">
      <h3>Ingredients</h3>
      <ul>
        <% @recipe.ingredient_lines.each do | ingredient | %>
        <li><%= ingredient %></li>
        <% end %>
      </ul>
      <h3>Labels</h3>
      <ul>
        <% @recipe.health_labels.each do | healthlabel |  %>
        <li><%= healthlabel %></li>
        <% end %>
      </ul>
    </section>
  </div>
</section>
